.partners {

    &__container {
        max-width: 385px;
        margin: auto;
        padding: 0 5px;

        @media screen and (min-width: 768px) {
            max-width: 778px;
        }

        @media screen and (min-width: 1440px) {
            max-width: 1180px;
        }
    }

    &__inner {
        padding: 70px 20px 73px;
        width: 100%;

        @media screen and (min-width: 768px) {
            padding: 70px 20px 0;
        }
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 160%;
        text-transform: uppercase;
        color: #121920;
        margin-bottom: 30px;
    }

    &__images {

        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 1440px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__img {
        max-width: 335px;
        width: 100%;

        &:hover {
            opacity: 0.5;
            outline: 1px solid black;
            border-radius: 5px;
            box-shadow: -3px 0px 40px 0px rgba(0, 0, 0, 0.5);
        }
    }
}

